/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d00; /* Change this color as needed */
    padding: 10px 20px;
}

.navbar-logo {
    color: white;
    font-size: 24px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.logout-button button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.logout-button button:hover {
    opacity: 0.8;
}
