.service-detail {
    padding: 20px;
    background-color: #ffffff; /* White background for details */
}

.service-detail h2 {
    color: #004d00; /* Title color for service detail */
}

.request-button {
    height: 50px;
    width: 120px;
    background-color: white; /* Default button color */
    color: #004d00; /* Text color */
    border: 2px solid #004d00; /* Border color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.request-button.red {
    background-color: red; /* Color when requested */
    color: white; /* Text color when requested */
}
